

  <div data-bs-spy="scroll" class="scrollspy-example">
    <section class="pt-12">
        <div class="container px-md-0 py-5 pt-12">
        <div class="card py-5">
            <div class="card-body">
              <h5 class="card-title py-2 mb-12 text-center" style="font-size: 21px;"><i class="ti ti-file-text-shield me-1"></i> <span>Privacy Policy</span></h5>
            
              <p class="card-text">NousInventa ("we," "us," or "our") is committed to protecting the privacy of visitors to our website (the "Website"). This Privacy Policy outlines the types of information we collect, how we use it, and the choices you have regarding your information. By accessing or using our Website, you consent to the practices described in this Privacy Policy</p>
              
              <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">1. Information We Collect</h6>
              <p class="card-text">We may collect the following types of information from you when you use our Website</p>  
              <ul>
                <li><b>Personal Information:</b> This includes information that can be used to identify you, such as your name, email address, phone number, company name, and any other information you voluntarily provide through contact forms, registration forms, or other interactive features of our Website.</li>
                <li class="mt-2"><b>Usage Data:</b> This includes information about how you access and use our Website, such as your IP address, browser type, operating system, referring website addresses, pages you visit, the time and date of your visit, the time spent on those pages, and other diagnostic data. We may collect this information using cookies, web beacons, and similar tracking technologies (see Section 3).</li>
                <li class="mt-2"><b>Device Information:</b> We may collect information about the device you use to access our Website, including the device model, unique device identifiers, and mobile network information.</li>
              </ul> 

              <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">2. How We Use Your Information</h6>
              <p class="card-text">We may use your information for the following purposes</p>  
                <ul>
                <li><b>To Provide and Maintain our Website:</b> To ensure the Website functions correctly, to personalize your experience, and to provide you with the information and services you request.</li>
                <li class="mt-2"><b>To Communicate with You:</b> To respond to your inquiries, provide customer support, and send you important notices or updates related to our Website or services.</li>
                <li class="mt-2"><b>To Send Marketing and Promotional Communications:</b> With your consent, we may send you emails or other communications about our products, services, news, and events that may be of interest to you. You can opt-out of receiving these communications at any time (see Section 5).</li>
                <li class="mt-2"><b>To Analyze and Improve our Website:</b> To understand how users interact with our Website, to identify trends, and to improve the content, functionality, and user experience of our Website.</li>
                <li class="mt-2"><b>To Ensure Security and Prevent Fraud:</b> To monitor and analyze activity on our Website, to detect and prevent fraudulent or unauthorized access, and to protect our rights and the rights of our users.</li>
                <li class="mt-2"><b>For Other Legitimate Business Purposes:</b> We may use your information for other legitimate business purposes, such as data analysis, research, and developing new products and services.</li>
                </ul>

                <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">3. Cookies and Tracking Technologies</h6>
                <p class="card-text">We use cookies, web beacons, and similar tracking technologies to collect and analyze information about your use of our Website</p>  
                <ul>
                <li><b>Cookies:</b> These are small text files that are placed on your device when you visit a website. We may use both session cookies (which expire when you close your browser) and persistent cookies (which remain on your device for a longer period). Cookies help us remember your preferences, track your activity on our Website, and improve your user experience.</li>
                <li class="mt-2"><b>Web Beacons:</b> These are small electronic images (also known as pixel tags or clear GIFs) that may be embedded in our web pages and emails. Web beacons allow us to track user activity, count visits, and understand email campaign effectiveness.</li>
                </ul>
                <p class="card-text">You can control cookies through your browser settings. Most browsers allow you to block or delete cookies. However, please note that disabling cookies may affect the functionality and user experience of our Website.</p>

                <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">4. Sharing Your Information</h6>
                <p class="card-text">We may share your information with the following categories of recipients</p>  
                <ul>
                <li><b>Service Providers:</b> We may engage third-party service providers to assist us with various functions, such as website hosting, data analysis, email marketing, and customer support. These service providers will have access to your information only to the extent necessary to perform their services and are obligated to protect your information.</li>
                <li class="mt-2"><b>Business Partners:</b> We may share information with our business partners for joint marketing efforts or to offer integrated products and services. We will obtain your consent before sharing your information for these purposes, where required by applicable law.</li>
                <li class="mt-2"><b>Legal Requirements:</b> We may disclose your information if required to do so by law or in response to valid legal process, such as a court order or government request.</li>
                <li class="mt-2"><b>Business Transfers:</b> In the event of a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred to the acquiring entity as part of the transaction.</li>
                <li class="mt-2"><b>With Your Consent:</b> We may share your information with third parties for other purposes with your explicit consent.</li>
                </ul>

                <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">5. Your Choices and Rights</h6>
                <p class="card-text">You have certain choices and rights regarding your personal information</p>  
                <ul>
                <li><b>Access and Correction:</b> You may have the right to access and request correction of the personal information we hold about you.</li>
                <li class="mt-2"><b>Opt-Out of Marketing Communications:</b> You can opt-out of receiving marketing emails by following the unsubscribe instructions provided or contacting us.</li>
                <li class="mt-2"><b>Data Deletion:</b> You may request deletion of your personal information, subject to certain exceptions.</li>
                <li class="mt-2"><b>Cookie Preferences:</b> You can manage your cookie preferences through your browser settings.</li>
                <li class="mt-2"><b>Withdrawal of Consent:</b> You may withdraw your consent at any time, though it won’t affect processing already performed.</li>
                </ul>
                <p class="card-text">We will respond to your requests in accordance with applicable data protection laws. Please note that we may need to verify your identity before fulfilling your requests</p>


                <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">6. Data Security</h6>
                <p class="card-text">We take reasonable measures to protect your personal information from unauthorized access, use, disclosure, alteration, or destruction. These include technical, administrative, and physical safeguards. However, we cannot guarantee absolute security.</p>

                <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">7. Links to Other Websites</h6>
                <p class="card-text">Our Website may contain links to third-party websites. We are not responsible for their content, privacy policies, or practices. We encourage reviewing their privacy policies before use.</p>

                <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">8. Contact Us</h6>
                <p class="card-text">If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at:</p>
                <ul>
                <li><b>NousInventa</b>, Richmond Pride, #A208, Near Biocon SEZ, Jigani, Omax Circle, Bangalore 560105, INDIA</li>
                <li><b>Email:</b> {{'contact@nousinventa.com'}}</li>
                <li><b>Phone:</b> +91 9901156568</li>
                </ul>

                <h6 class="card-title badge bg-label-secondary mb-3 mt-5" style="font-size: 13px;">9. Changes to This Privacy Policy</h6>
                <p class="card-text">We may update this Privacy Policy periodically. We will notify you of any changes by posting the new policy on this page and updating the "Last Updated" date. Continued use of our Website after changes constitutes acceptance.</p>

                <p class="card-text mt-11"><b>By using our Website, you acknowledge that you have read and understood this Privacy Policy.</b></p>

                <p class="card-text text-end me-4 mt-3 mb-0">
                    <small class="text-muted fst-italic">Last updated on <strong>May 5, 2025</strong></small>
                </p>
            </div>
          </div>
          </div>
    </section>
  </div>