.container {
    font-size: 14px;
}


.banner-title{
    color:#232129
}

.banner-title-prime{
    color:#1d2d9b !important;
}

.bg-btn-linear{
    background: #1d2d9b;
    border:none
}
